<template lang="html">
  <div class="container chat">
    <section class="left-column">
      <div class="user">
        <User :user="user" />
        <button class="exit" @click="logout"></button>
      </div>
      <UserList :users="users" />
    </section>
    <section class="right-column">
      <MsgArea @newMessage="sendMessage" />
      <MsgList :user="user" :messages="messages"/>
    </section>
  </div>
</template>

<script>
import WebSocket from 'reconnecting-websocket'
import User from './User'
import UserList from './UserList'
import MsgArea from './MsgArea'
import MsgList from './MsgList'

export default {
  name: 'Chat',
  components: {
    User,
    UserList,
    MsgArea,
    MsgList
  },
  data () {
    return {
      user: {
        id: '',
        username: '',
        avatar: null
      },
      users: [],
      messages: [],
      deferredMessages: [],
      ws: null
    }
  },
  methods: {
    logout () {
      this.ws.close()
      this.$axios.get('/api/logout')
      .then(() => {
        this.$router.push({ name: 'signin' })
      })
    },
    wsSend (msg) {
      if (this.ws) {
        this.ws.send(JSON.stringify(msg))
      }
    },
    sendMessage (text) {
      this.messages.push({ type: 'message', author: this.user, text: text })
      if (this.ws.readyState === 1) {
        this.wsSend({
          type: 'message',
          text,
          author: this.user
        })
      } else {
        this.deferredMessages.push({ type: 'message', author: this.user, text: text })
      }
    }
  },
  created () {
    this.$axios.get('/api/session/get')
    .then(({ data }) => {
      this.user.id = data.user.id
      this.user.username = data.user.username
      this.user.avatar = data.user.avatar
      this.users = data.users
    })
    .then(() => {
      this.ws = new WebSocket(`ws://${location.host}:5000`)

      this.ws.onopen = () => {
        this.wsSend({
          type: 'connection',
          user_id: this.user.id
        })
        if (this.deferredMessages.length) {
          this.deferredMessages.forEach(message => {
            this.wsSend(message)
          })
        }
      }

      this.ws.onerror = () => {
        this.$axios.get('/api/session')
      }

      this.ws.onmessage = (msg) => {
        msg = JSON.parse(msg.data)
        switch (msg.action) {
          case 'new_user':
            if (this.users.findIndex(user => user.id === msg.user.id) === -1 &&
                msg.user.id !== this.user.id) {
              this.users.push(msg.user)
              this.messages.push({
                type: 'notification',
                action: 'in',
                name: msg.user.username
              })
            }
            break
          case 'close':
            const index = this.users.findIndex(user => user.id === msg.user_id)
            if (index !== -1) {
              const user = this.users[index]
              this.messages.push({
                type: 'notification',
                action: 'out',
                name: user.username
              })
              this.users.splice(index, 1)
            }
            break
          case 'message':
            this.messages.push({ type: 'message', author: msg.author, text: msg.text })
            break
          default:
            console.log('unknown action', msg)
            break
        }
      }
    })
  }
}
</script>

<style lang="scss" scoped>

$gray: #c1c1c1;

.chat {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.left-column {
  width: 30%;
  flex-shrink: 0;
  border-right: 1px solid $gray;
  display: flex;
  flex-direction: column;
}

.right-column {
  flex-grow: 1;
  background-image: url(/public/img/background.jpg);
  display: flex;
  flex-direction: column-reverse;
}

.user {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid $gray;

  & .exit {
    background-image: url(/public/img/logout.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    opacity: .3;
    cursor: pointer;
    transition: opacity 100ms ease-in;
    outline: none;

    &:hover {
      opacity: .6;
    }
  }
}
</style>
