<template lang="html">
  <div class="message" :class="{ own: own }">
    <img :class="{ skip: skipAuthor }" :src="message.author.avatar | getAvatar">
    <div>
      <span>{{ message.author.username }}</span>
      {{ message.text }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Message',
  props: {
    message: {
      type: Object,
      required: true
    },
    skipAuthor: {
      type: Boolean,
      required: true,
      default: false
    },
    own: {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.message {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5px;

  & img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
    flex-grow: 0;

    &.skip {
      visibility: hidden;
    }
  }

  & div {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    font-size: .85rem;
    text-align: left;
    & span {
      display: block;
      font-weight: bold;
      margin-bottom: 5px
    }
  }

  &.own {
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 5px;

    & img {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}
</style>
