<template lang="html">
  <form class="msg-area" @submit.prevent="sendMessage">
    <textarea placeholder="Сообщение..." v-model.trim="message" @keypress="onKeyPress"></textarea>
    <button type="submit" class="send"></button>
  </form>
</template>

<script>
export default {
  name: 'MsgArea',
  data () {
    return {
      message: null
    }
  },
  methods: {
    sendMessage () {
      if (this.message && this.message.length) {
        this.$emit('newMessage', this.message)
      }
    },
    onKeyPress (e) {
      if (e.key === 'Enter' && !e.ctrlKey && !e.shiftKey) {
        this.sendMessage()
        this.message = null
      }
    }
  }
}
</script>

<style lang="scss" scoped>
$gray: #c1c1c1;

.msg-area {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  border-top: 1px solid $gray;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  & textarea {
    border: none;
    resize: none;
    outline: none;
    flex-grow: 1;
    padding: 2px 10px;
    font-size: .9rem;
    max-height: 3.6rem;
  }
}

.send {
  background-image: url(/public/img/send-button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 25px;
  height: 25px;
  border: none;
  opacity: .5;
  cursor: pointer;
  transition: opacity 100ms ease-in;
  outline: none;
  flex-shrink: 0;

  &:hover {
    opacity: .8;
  }
}

</style>
