<template lang="html">
  <ul class="messages">
    <li v-for="(message, index) in messages">
      <Notification v-if="message.type === 'notification'" :message="message"/>
      <Message v-if="message.type === 'message'"
               :message="message"
               :skipAuthor="skip(index)"
               :own="message.author.id === user.id"/>
    </li>
  </ul>
</template>

<script>
import Message from './Message'
import Notification from './Notification'

export default {
  name: 'MsgList',
  props: {
    user: {
      type: Object,
      required: true
    },
    messages: {
      type: Array,
      required: true
    }
  },
  components: {
    Message,
    Notification
  },
  methods: {
    skip (index) {
      const previous = this.messages[index - 1]
      const current = this.messages[index]
      if (previous && previous.author) {
        return previous.author.id === current.author.id
      }
      return false
    }
  }
}
</script>

<style lang="scss" scoped>
.messages {
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  overflow: auto;

  & li {
    margin: 5px 0;
  }
}
</style>
