<template lang="html">
  <div class="notification">
    {{ message.action === 'out' ? `Из чата вышел ${message.name}` : `К чату присоединился ${message.name}` }}
  </div>
</template>

<script>
export default {
  name: 'Notification',
  props: {
    message: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.notification {
  width: 50%;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 20px;
  color: #fff;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .9rem;
  padding: 2px 10px;
}
</style>
