<template lang="html">
  <ul class="list">
    <li v-for="user in users">
      <User :user="user" />
    </li>
  </ul>
</template>

<script>
import User from './User'

export default {
  name: 'UserList',
  props: {
    users: {
      type: Array,
      required: true
    }
  },
  components: {
    User
  }
}
</script>

<style lang="scss" scoped>
.list {
  padding: 0;
  margin-top: 0;
  list-style: none;
  flex-grow: 1;
  overflow: auto;

  & li {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }
  }
}
</style>
