<template lang="html">
  <div class="user-info">
    <img :src="user.avatar | getAvatar">
    <span>{{ user.username }}</span>
  </div>
</template>

<script>
export default {
  name: 'User',
  props: {
    user: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.user-info {
  display: inline-flex;
  align-items: center;

  & img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
  }
}
</style>
