<template lang="html">
  <div class="container signin">
    <h3>Участники будут видеть меня как:</h3>
    <form @submit.prevent="handleSubmit">
      <div class="user-info">
        <div class="avatar" @click="$refs.upload.click()">
          <img :src="credentials.avatar | getAvatar" alt="avatar" ref="preview">
          <input type="file" id="uploadavatar" ref="upload" @change="setAvatar">
        </div>
        <div class="name-wrapper" :class="{ error: nameError }">
          <input class="name" type="text" :class="{ error: nameError }"
                 v-model="credentials.name" placeholder="Undefined?"
                 @focus="nameError = false">
        </div>
      </div>
      <button type="submit" class="btn">Вперед!</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Signin',
  data () {
    return {
      credentials: {
        name: '',
        avatar: null
      },
      nameError: false
    }
  },
  methods: {
    setAvatar (e) {
      const file = e.target.files[0]
      this.credentials.avatar = file
      this.makePreview(file)
    },
    makePreview (file) {
      if (/image/.test(file.type)) {
        const fileReader = new FileReader()
        fileReader.onload = (event) => {
          this.$refs.preview.src = event.target.result
        }
        fileReader.readAsDataURL(file)
      }
    },
    handleSubmit () {
      if (!this.credentials.name.length) {
        this.nameError = true
        return
      }

      const formData = new FormData()
      formData.set('avatar', this.credentials.avatar)
      formData.set('username', this.credentials.name)

      this.$axios.post('/api/login', formData)
      .then(() => {
        this.$router.push({ name: 'chat' })
      })
    }
  }
}
</script>

<style lang="scss" scoped>

$theme_color: #7af17a;
$theme_hover: #41e841;
$theme_active: #4bb34b;
$error: #f38282;

.signin, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  margin-top: 0;
}

.user-info {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 15px;

  & img {
    width: inherit;
    height: inherit;
  }

  &:before {
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 200ms ease-in;
  }

  &:hover:before {
    opacity: 1;
  }
}

#uploadavatar {
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
}

.name-wrapper {
  position: relative;

  &.error:after {
    content: 'А-та-та! Давай-ка все-таки введем имя?';
    position: absolute;
    bottom: -15px;
    left: 3px;
    font-size: .7rem;
    color: $error;
  }
}

.name {
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid $theme_color;
  font-size: 1.1rem;
  outline: none;

  &:focus {
    box-shadow: 0 0 10px 0 $theme_color;
  }

  &.error {
    border: 1px solid $error;
    box-shadow: 0 0 10px 0 $error;
  }
}

.btn {
  height: 40px;
  padding: 0 40px;
  text-transform: uppercase;
  border-radius: 20px;
  border:none;
  color: #fff;
  background-color: $theme_color;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  transition: background-color 100ms ease-in;

  &:hover {
    background-color: $theme_hover;
  }
  &:active {
    background-color: $theme_active;
  }
  &:focus {
    border: 2px solid $theme_active;
    box-shadow: 0 0 10px 0 $theme_color;
  }
}
</style>
