<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="css">
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: inherit;
  height: inherit;
}

* {
  box-sizing: border-box;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: inherit;
  height: inherit;
}

.container {
  width: inherit;
  height: inherit;
}
</style>
